@font-face {
    font-family: 'Rise-Regular';
    src: url('Rise-Regular.eot?#iefix') format('embedded-opentype'), url('Rise-Regular.otf') format('opentype'), url('Rise-Regular.woff') format('woff'), url('Rise-Regular.ttf') format('truetype'), url('Rise-Regular.svg#Rise-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
