// .featured {
//     &:before {
//         content: "";
//         position: absolute;
//         left: 0;
//         height: 100%;
//         width: 100%;        
//         background-image: linear-gradient(90deg, rgba(255, 0, 0, 0) 0, #ccc 0);
//         background-position: 30.4667vw 0;
//         background-repeat: no-repeat
//     }
// }

.frame {
    display: inline-block;
    top: 33vh;
    transform: translateX(-50%);
    overflow: hidden;
}

.frame__border {
    $frame_draw_in_duration: $time__mid;
    img {
        opacity: 0;
        transition: opacity $time__short;
        transition-delay: $time__long*2 + $frame_draw_in_duration*3;
        z-index: 1;
        max-height: 60vh;
        max-width: 50vw;
    }
    &:before, &:after, .frame__border_edge:after, .frame__border_edge:before {
        content: "";
        position: absolute;
        background-color: $frame__color;
        transition: transform $frame_draw_in_duration linear;
        z-index: 2;
    }
    &:after, &:before {
        height: $frame__width;
        width: 100%;
    }
    &:before {
        top: 0;
        transform: scaleX(0);
        transform-origin: center;
        transition-delay: $time__long*2; 
    }
    &:after {
        bottom: 0;
        height: $frame__width + 1px;
        transform: translateY(100%);
        transition-delay: $time__long*2 + $frame_draw_in_duration*2;
    }
    .frame__border_edge {
        &:before, &:after {
            top: 0;
            height: 100%;
            width: $frame__width;
            transition-delay: $time__long*2 + $frame_draw_in_duration; 
            transform: scaleY(0);
            transform-origin: top;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }
}

.--active__second__emphasis ~ .featured .frame__border {
    &:before, &:after, .frame__border_edge:after, .frame__border_edge:before {
        transform: none;
    }
    img {
        opacity: 1;
    }
}

