$introfontsize: 42px;

.intro {
}

.intro .emphasis_line {
    font-size: $introfontsize;
}

.intro__header {
    overflow: hidden;
    padding: 15px;
}

.intro__header em {
    $standout_color: red;
    position: relative;
    color: transparent;
    &:before, &:after {
        position: absolute;
        left: 0;
    }
    &:before {
        content: attr(data-copy);
        color: $standout_color;
        transform: translateY(100%);
        opacity: 0;
        transition: transform $time__long $ease-out-quint, opacity $time__mid;
        transition-delay: $time__long*0.7;
        will-change: transform, opacity;
        .--active__emphasis & {
            transform: none;
            opacity: 1;
        }
    }
    &:after {
        content: "";
        bottom: -3px;
        height: 1px;
        width: 100%;
        background-color: $standout_color;
    }
}