.--flex {
    display: flex;
}

.--flex-center {
    align-items: center;
    justify-content: center;
}

.--fullbleed {
    height: 100vh;
}

.--rel {
    position: relative;
}

.--m-reset{ margin: 0; }